@font-face
{
   font-family: "GODOFWAR";
   src: url("imagenes/GODOFWAR.ttf");
}

@font-face
{
   font-family: "BAD_GRUNGE";
   src: url("imagenes/BAD_GRUNGE.ttf");
}


/* Documento de estilo del CV de John Wick */
html {
    background-image: url("imagenes/hoja cv.jpg"); 
    background-size: cover;

}   
body {
    background-color: none;
    padding: 0px; /*Relleno*/
    border: solid;
    border-color: black;
}

.centrado{
    margin:10px auto;
    display:block;
}

/* Estilo encabezado */
 h1{
    text-align: center;
    color: rgb(24, 17, 17);
    border-bottom: 5px solid rgb(143, 82, 4);
    font-family: "BAD_GRUNGE";
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;

} 
h2{
    font-family: "GODOFWAR";
    border-bottom: 5px solid rgb(143, 82, 4);
}
h5{
    text-align: center;
}

h6{
    text-align: left;
    color: black;
}

.titulosleft{
    border: solid;
    border:black 5px double;
    padding: 2px; 
    margin: 0px;
    text-align: left;
}

.tituloscenter{
    background-color: none;
    color:black;
    padding: 0px;
    margin: 0px;
    border: none;
    border-color:none;
    text-align: left;
}

.skills{
    display: inline-block;
    text-align: left;
    align-items: center;
    list-style: none;
    margin: -10px;
}

.bloqueizq{
    float: left;
    width: "260";
    height: "125";
    border: 
    border-color: none;
    padding: 10px; /*Relleno*/
}

.bloquecen{
    display: inline-block; /*Bloques a la misma altura */
    color: black;
    background-color:  none;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: none;
    border: none;
    height: 700px;
    width: 850px;
    padding: 10px;      
    margin: 3px;
}
