@font-face
{
   font-family: "Typewriter";
   src: url("Typewriter.otf");
}

@font-face
{
   font-family: "typwrng";
   src: url("typwrng.ttf");
}


body{
    background-color:rgb(111, 231, 127);
    font-family: Geneva, Tahoma, sans-serif;
    font-family: "Typewriter";
    
}

h2{
    background-color:rgb(183, 199, 228);
    color: rgb(10, 10, 10);
    padding: 20px;
    margin-inline-start: 50px;
    margin-inline-end: 80px;
    margin-block-start: 40px;
    margin-block-end: 40px;
    text-align: center;
    font-family: "Typewriter";
}

h4{
    margin-inline-start: 310px;
    font-family: "typwrng";    
}

#msg_entry{
    padding: 10px;
    margin-inline-start: 370px;
}

#sala{
    background-color: rgb(152, 214, 94);
    border: 8px solid whitesmoke;
    padding: 30px;
    margin-inline-start: 50px;
    margin-inline-end: 80px;
    margin-block-start: 40px;
}